.devices {
    padding: 0;
    text-align: center;

    h2 {
        margin-bottom: 24px;
    }

    &__list {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item {
            h4 {
                margin-bottom: 24px;
            }

            img {
                max-width: 100%;
                margin-bottom: 0;
            }
        }
    }
}